.country__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.weather__logo {
    width: 150px;
}

.weather__container, .statistics__container {
    display: grid;
    grid-template-columns: auto;
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    opacity: 0.90;
    animation-name: gradualShow;
}