@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

@keyframes gradualShow {
  0%   {opacity: 0;}
  12.5% {opacity: 0,125;}
  25%  {opacity: 0.25;}
  37.5% {opacity: 0.375;}
  50%  {opacity: 0.5;}
  62.5% {opacity: 0.625;}
  75%  {opacity: 0.75;}
  100% {opacity: 0.90;}
}

* {
  font-family: "Josefin Sans", sans-serif;
  animation-duration: 0.75s;
  text-align: center;
  margin: 7px;
  padding: 4px;
  border: 4px;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
  background: var(--color-bg);
  color: var(--color-white);
  background-image: url(../src/assets/bg.png);
  background-position: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  opacity: 0.9;
  width: 15%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--color-bg-variant);
  color: white;
  font-size: large;
}

img {
  opacity: 1;
  display: inline;
  width: 250px;
  object-fit: cover;
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

